1. Map System
    + Ability to load/save maps
    / Ability to export maps
        / 1) GBA 
        + 2) txt
        - 3) code 
        - 4) rmxp/vx/ace?
        + 5) xml
        + 6) images
        - 7) X where X is another tile map editor program
    / Ability to import maps
        + 1) txt
        + 2) xml
        - 3) images
        - 4) X where X is another tile map editor program
    / Map types
        + 1) rectangular
        - 2) isometric
        - 3) hexagonal
    / Maps are editable by layer (and can have infinite layers)
    / Map backgrounds are editable (and may be animated)
    + Support for animated tiles
    - Support for "auto tiles"
    - Support for multiple tilesets
    + Backgrounds can 
        + a) not scroll
        + b) scroll with camera
        + c) automatic scroll
        + d) draw once or repeating
    / Support for collision layers
        / Map Based
            + Collision for each tile on map
            / Collision based on each pixel
            - Direction based collision info per tile on map
        - Tile Based
            - Collision for each tile in tileset
            - Collision based on each pixel for each tile in tileset
            - Direction based collision info per tile in tileset
2. GUI System
    + File: 
        + 1) new
        + 2) save
        + 3) save as
        + 4) export
        + 5) import
    - Edit: 
        - 1) Undo
        - 2) Redo
        - 3) Copy
        - 4) Paste
        - 5) Select All
        - 6) Cut
        - 7) Clear
    - Viewing operators
        - 1) zooming (map and tileset)
        - 2) layer visibility
        - 3) grid lines 
        - 4) dim lower layers
    - Tools: 
        - 1) pencil
        - 2) eraser
        - 3) line
        - 4) rectangle
        - 5) circle
        - 6) fill
        - 7) replace tile
        - 8) select
    - Ability to edit 
        - 1) map properties
        - 2) layer
        - 3) backgrounds
        - 4) collision layer info
        - 5) animated tiles
    + Can view multiple maps simultaneously without seperate instances of the program.
    - Ability to playtest the map
    - Ability to select tiles from tileset and place on map
    - Ability to create brushes from tiles in the tileset.


-------------------------------------------------------------------------------------------
3. Plugin System
    - Plugins may
        1) add data to maps 
        2) add new tools / menu options 
        3) new export formats
        4) add rendering code 
    - Plugin Manager to add, update, remove, enable, and disable plugins

+ Fully Implemented
/ Partially Implemented
- Not Implemented
